In [ ]:
pip install pandas

In [ ]:
pip install seaborn

In [69]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
import numpy as np
# Импорт нужных библиотек:
# pandas для работы с файлом,
# matplotlib & seaborn для отрисовки графиков,
# scipy.stats для проверки нормального распределения
# numpy просто так вдруг понадобится

In [ ]:
"""Очистка данных в колонке цена"""

# Загрузка данных из CSV файла
input_file_path = '/content/AB_NYC_2019.csv'
output_file_path = '/content/AB_NYC_2019_with_no_price.csv'

# Чтение данных из CSV файла
data = pd.read_csv(input_file_path)

# Очистка данных в колонке "Price"
data['price'] = None

# Сохранение очищенных данных в новом файле
data.to_csv(output_file_path, index=False)

print(f"Очищенный файл без колонки price сохранен по пути: {output_file_path}")

In [ ]:
"""проверка!"""

file_path = '/content/AB_NYC_2019_with_no_price.csv'
check = pd.read_csv(file_path)
print(check['price'])

In [64]:
new_data = pd.read_csv(input_file_path) # Повторное чтение исходника для дальнейшей работы

In [ ]:
""" Расчет средней цены """
avg_price = new_data['price'].mean() # подсчет среднего значения колонки
print("Средняя цена: ", avg_price)

In [ ]:
""" Сравнение затрат на рынке аренды """

# Расчет математического ожидания и стандартного отклонения
mean_price = new_data['price'].mean()
std_dev_price = new_data['price'].std()

# Расчет процента цен, укладывающихся в правило трех сигм

within_3std = ((new_data['price'] >= mean_price - 3 * std_dev_price) & (new_data['price'] <= mean_price + 3 * std_dev_price)).mean() * 100

print(f"Математическое ожидание цен: ${mean_price:.2f}") # .2f -  2 знака после запятой
print(f"Стандартное отклонение цен: ${std_dev_price:.2f}")
print(f"Процент цен, укладывающихся в правило трех сигм: {within_3std:.2f}%")

# Настройка параметров гистограммы

plt.xlabel('Цена')
plt.ylabel('Частота')
plt.xlim(0, 1000)
plt.hist(new_data['price'], bins=2000, color='orange')
plt.show()

In [77]:
""" Очистка данных в колонке room type """

# Чтение данных из csv файла
new_output_file_path = "/content/AB_NYC_2019_with_no_room_type.csv"
roomType = pd.read_csv(input_file_path)

# Очистка данных в нужной колонке
roomType['room_type'] = None

# Сохранение данных без содержимого колонки room_type в новый файл
roomType.to_csv(new_output_file_path, index=False)
print(f"Очищенный файл без колонки room_type сохранен по пути: {new_output_file_path}")

Очищенный файл без колонки room_type сохранен по пути: /content/AB_NYC_2019_with_no_room_type.csv

In [78]:
""" проверка """
new_check = pd.read_csv(new_output_file_path)
print(new_check['room_type'])

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
48890   NaN
48891   NaN
48892   NaN
48893   NaN
48894   NaN
Name: room_type, Length: 48895, dtype: float64